header {
    background-color: var(--clr2);
    padding-block: 0.8em;
    color: var(--gray3)
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: lighter;
}

header nav {
    display: flex;
    gap: 15px;
}

header a.active {
    text-decoration: underline;
  }
