.toy-details {
    display: grid;
    grid-template-columns: auto auto;
    min-width: 400px;
    justify-self: center;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    background-color: white;
    border-radius: 10px;
    margin: 25px;
    padding: 2em;
}

.toy-details .toy-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.toy-details img {
    padding-block: 10px;
    align-self: self-start;
}

.toy-details .toy-name {
    margin-bottom: 15px;
    font-weight: bold;
}

.toy-details h2 {
    font-size: 1rem;
}

.toy-details .in-stock {
    color: var(--green1)
}

.toy-details .unavailable {
    color: var(--red1)
}

.toy-details h3 {
    font-size: 0.875rem;
    color: var(--gray2);
    flex-grow: 1;
}

.toy-details .btn-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.toy-details .user-msgs {
    grid-column: 1/-1;
    border: 1px solid var(--gray1);
    border-radius: 10px
}

.toy-details .user-msgs h1 {
    color: var(--gray2);
    font-size: 1rem;
    font-weight: bold;
    padding: 1em;
}

.toy-details .user-msgs li  {
    font-size: 0.875rem;
    line-height: 2em;
    padding: 0.2em 1em;
}

.toy-details .user-msgs li:nth-child(odd) {
    background-color: var(--clr2);
}

.toy-details .user-msgs li:last-child{
    display: flex;
    padding: 0;
}
.toy-details .add-msg-form {
    width: 100%;
    height: 100%;
    display: flex;
}
.toy-details .add-msg-form input{
    flex-grow: 1;
    line-height: 1.8em;
    padding-inline: 1em;
}