:root {
    --clr1: #dee9e6;
    --clr2: #faf0eb;
    --clr25: #f49e81;
    --clr3: #f49070;
    --clr4: #afd5c8;

    --gray1: #e1e7ee;
    --gray2: #797c80;
    --gray3: #565757;

    --green1: #008000;
    --red1: #f10303;
}